.App {
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin-top: 6rem;
  height: 70vh;
  background-color: RGB(0, 134, 223);
}

.INPUT {
  border-radius: 4rem;
  font-weight: 700;
  font-size: x-large;
  padding: 4rem;
  width: 30vw;
  height: 20vh;
}
